@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  width: 100%;
  height: 100vh;

  background-image: url("/RocketNews/src/assets/read_news.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#left {
  width: 720px;
  height: 100%;
  flex-shrink: 0;

  background: var(--body-bg-color);

  padding: 0 0 0 30px;
}

.logo img {
  margin-top: 50px;
  width: 24.3125rem;
  height: 5.875rem;
  flex-shrink: 0;
}

.textos {
  margin-top: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8.56px;
}

.title {
  width: 566px;
  height: 30.438px;
  flex-shrink: 0;
}

.titleText {
  color: var(--title-color);
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subTitleText {
  color: #FFF;
  font-family: Spartan;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text,
label {
  width: 480px;

  color: #FFF;
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 138.735%;
  /* 1.21394rem */
}

.sendMail {
  margin-top: 50px;
}

.campoForm {
  margin-top: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  place-items: center;
}

input {
  width: 750px;
  height: 48px;
  flex-shrink: 0;

  background: #FFF;
  border-left: #04D361 solid 5px;
  padding: 0 0 0 15px;
}

.campoForm button {
  width: 48px;
  height: 48px;
  flex-shrink: 0;

  display: flex;
  place-content: center;
  place-items: center;

  background: var(--bg-button-color);
}

.readfirst {
  margin-top: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.readfirst a {
  color: var(--bg-button-color);
  font-family: Spartan;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 138.735%;
  /* 1.21394rem */
  text-decoration: none;
}

.readfirst a:visited {
  text-decoration: none;
}