@media (max-width: 1200px) {

    .grupoMain {
        display: flex;
        flex-direction: column;
    }

    .areaPost {
        width: 90vw;
    }

    .photo_cat {
        width: 90vw;
    }

    .textoPost {
        width: 80vw;
    }

    .infoPost {
        width: 20vw;
    }

    .fotoPostNew {
        width: 20vw;
        height: 120px;
    }

    .gridPost {
        display: grid;
        justify-content: center;
        gap: 15px;
        grid-template-columns: 400px 400px;
    }
}

@media (max-width: 1024px) {

    .grupoMain {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .areaPost {
        width: 80vw;
    }

    .photo_cat {
        width: 80vw;
        object-fit: cover;
    }

    .componentsAreaPost {
        display: flex;
        justify-content: left;
        width: 80vw;
        gap: 390px;
    }

    .newPost {
        display: flex;
        align-items: start;
    }

    .post {
        display: flex;
        flex-direction: row;
    }

    .fotoPostNew {
        width: 30vw;
        height: 135px;
        object-fit: cover;
    }

    .infoPost {
        width: 40vw;
    }

    .gridPost {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

@media (max-width: 768px) {

    header {
        display: flex;
        justify-content: space-around;
        gap: 20px;
    }

    .main {
        margin: 0;
    }

    .grupoMain {
        display: flex;
        flex-direction: column;
    }

    .areaPost {
        width: 80vw;
    }

    .photo_cat {
        width: 80vw;
        border-radius: 0;
        object-fit: cover;
    }

    .componentsAreaPost {
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .title {
        font-size: 3vw;
    }

    .textoPost {
        width: 80vw;
        padding: 25px;
    }

    .newPost {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .fotoPostNew {
        width: 30vw;
        height: 150px;
        object-fit: cover;
    }

    .post {
        display: flex;
        flex-direction: row;
    }

    .infoPost {
        width: 50vw;
    }

    .gridPost {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

}

@media (max-width: 480px) {

    header {
        display: flex;
        justify-content: space-around;
        gap: 15px;
    }

    .main {
        margin: 0;
    }

    .grupoMain {
        display: flex;
        flex-direction: column;

    }

    .areaPost{
        width: 80vw;
    }

    .photo_cat {
        width: auto;
        height: 250px;
        border-radius: 0;
        object-fit: cover;
        object-position: center;
    }

    .title {
        column-span: all;
        display: block;
    }

    .componentsAreaPost {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5px;
    }

    .textoPost {
        max-width: 100vw;
        height: auto;
        padding: 25px;
        text-align: justify;
        font-size: 5vw;
    }

    .fotoPostNew {
        width: 40vw;
        height: 90px;
        object-fit: cover;
        object-position: center;
    }

    .newPost {
        padding: 25px;
    }

    .post {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .infoPost {
        width: 50vw;
        display: flex;
        align-items: start;
    }

    .gridPost {
        display: flex;
        flex-direction: column;
        padding: auto;
        gap: 15px;
    }

}

@media (max-width: 320px) {

    header {
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }

    .main {
        margin: 0;
    }

    .grupoMain {
        display: flex;
        flex-direction: column;

    }

    .areaPost{
        width: auto;
    }

    .photo_cat {
        width: auto;
        height: 250px;
        border-radius: 0;
        object-fit: cover;
        object-position: center;
    }

    .title {
        column-span: all;
        display: block;
    }

    .componentsAreaPost {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        gap: 5px;
    }

    .textoPost {
        max-width: 100vw;
        height: auto;
        padding: 25px;
        text-align: justify;
    }

    .fotoPostNew {
        width: 90vw;
        height: 150px;
        object-fit: cover;
        object-position: center;
    }

    .newPost {
        padding: 25px;
    }

    .post {
        display: flex;
        flex-direction: column;
    }

    .infoPost {
        width: 90vw;
        display: flex;
        align-items: start;
    }
}


